<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h3>Your Orders</h3>

            <div *ngIf="orderHistoryList.length > 0">
                <table class="table table-bordered">

                    <tr>
                        <th width="20%"></th>
                        <th width="20%">Order Tracking Number</th>
                        <th width="10%">Total Price</th>
                        <th width="10%">Total Quantity</th>
                        <th width="10%">Date</th>
                    </tr>

                    <tr *ngFor="let tempOrderHistory of orderHistoryList">
                        
                         <input type="radio" name="selectUpdate" id="isCheckBox" (change)="enableUpdate($event)">Update Quantity
                        
                        <button type="button" class="btn btn-info btn-sm" value="{{ tempOrderHistory.orderTrackingNumber }}" (click)="handleOrderDelete(tempOrderHistory.orderTrackingNumber)">Delete</button>

                        <td>
                            {{ tempOrderHistory.orderTrackingNumber }}
                        </td>
                        <td>
                            {{ tempOrderHistory.totalPrice | currency: 'USD' }}
                        </td>
                        <td>
                            {{ tempOrderHistory.totalQuantity }}  

                            <input class="update_Quantity" style="display:none" type="number" id="updatedQuantity" min="0" max="10" placeholder="Select Quantity"/>
                           
                            <button style="display:none" type="button" id="updateQuantityButton" class="btn btn-info btn-sm update_Quantity"(click)="updateQuantity($event)" >Update</button> 
                            
                        </td>
                        <td>
                            {{ tempOrderHistory.dateCreated | date: 'medium' }}
                        </td>
                        
                    </tr>
                    
                </table>

            </div>
    
            <!-- if order history is empty than display a message-->
            <div *ngIf="orderHistoryList.length == 0" class="alert alert-warning col-md-12" role="alert">
                No orders found.
            </div>

        </div>
    </div>
</div>
