<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h3>Your Orders</h3>

            <div *ngIf="orderHistoryList.length > 0">
                <table class="table table-bordered">
                    <tr>
                        <th width="20%">Order Tracking Number</th>
                        <th width="10%">Total Price</th>
                        <th width="10%">Total Quantity</th>
                        <th width="10%">Date</th>

                    </tr>
                    <tr *ngFor="let tempOrderHistory of orderHistoryList">
                        <td>
                            {{ tempOrderHistory.orderTrackingNumber }}
                        </td>
                        <td>
                            {{ tempOrderHistory.totalPrice | currency: 'USD' }}
                        </td>
                        <td>
                            {{ tempOrderHistory.totalQuantity }}
                        </td>
                        <td>
                            {{ tempOrderHistory.dateCreated | date: 'medium' }}
                        </td>

                    </tr>
                </table>

               

                <div class="col-md-5">

                    <button type="button" class="btn btn-info mx-1">Modify Order</button> 
                    <button type="button" class="btn btn-info">Delete Order</button>  

                </div>


                <div class="col-md-5">
                    <div class="input-space">
                        <input formControlName="orderNumberTf" type="text">
                    </div>
                </div>    
                
                <div class="form-header">

                    <!--Template reference varaible-->
                <!--        <input #myInput type="text"  
                            placeholder="Enter Order Number Here ..."
                            class="au-input au-input-xl" 
                            (keyup.enter)="modifyOrder(myInput.value)" /> 
                            (keyup.enter)="deleteCompletedOrder(myInput.value)" /> 
                
                    <button (click)="modifyOrder(myInput.value)" class="au-btn-submit" type="submit">
                        Modify
                    </button>

                    <button (click)="deleteCompletedOrder(myInput.value)" class="au-btn-submit" type="submit">
                        Delete
                    </button>  
                --> 

                <div>
                
            
                

               
            </div>
    
            <!-- if order history is empty than display a message-->
            <div *ngIf="orderHistoryList.length == 0" class="alert alert-warning col-md-12" role="alert">
                No orders found.
            </div>

        </div>
    </div>
</div>
